.banner {
    background: url("https://koran-jakarta.com/images/article/tips-mencuci-sepatu-agar-tidak-mudah-rusak-210518093014.jpg")
      no-repeat center center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color: #fff;
  }
  
  
